@media (max-width: 400px) {
  /*media queries for screens reaching up to 400px*/
  header {
    font-size: 0.5rem;
    background-color: #2e3944;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #124e66;
    align-content: center;
    align-items: center;
    height: 35vh;
    color: #d3d9d4;
    width: 100%;
    margin: auto;
  }
  .headerButton {
    font-size: 0.7rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 130vh;
    margin: auto;
    padding: 1rem;
  }
  #about img {
    width: 80%;
    object-fit: cover;
    height: 40vh;
  }
  #about p {
    width: 70%;
    place-content: center;
    margin: auto;
    height: 40vh;
    font-size: 1rem;
  }

  #imageCategory {
    min-height: 170vh;
    width: 100%;
    margin: auto;
    background-color: #2e3944;
    padding: 1rem;
  }
  #thumbnail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    height: auto;
    color: #2e3944;
    right: 0;
  }

  #largeImageContainer {
    height: 80%;
    background-color: #2e3944;
    width: 90%;
    margin: auto;
  }
  .large-image {
    height: 25%;
  }

  #imageCategory h2 {
    text-align: center;
    font-size: 2rem;
    font-family: Quintessential;
  }
  #testimonialContainer {
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90%;
    border: 1px solid #124e66;
    border-radius: 2rem;
    place-items: center;
    width: 90%;
  }
  #testimonials h3 {
    text-align: center;
    font-family: Quintessential;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .UserDiv p {
    color: #2e3944;
  }
  .testimonialAndForm {
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    gap: 1rem;
    align-items: center;
  }
  #contactDetails {
    border-radius: 3rem;
    width: 85%;
    height: 45%;
    border: 1px solid #84979f;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2e3944;
  }
  .testimonialAndForm h3,
  p {
    text-align: center;
    font-family: Quintessential;
    font-size: 1.5rem;
    font-weight: 500;
    color: #d3d7d8;
  }
  #testimonials div {
    display: flex;
    flex-direction: column;
  }

  .UserDiv {
    height: 40%;
    width: 40%;
    background-color: #f0f5f7;
    border-radius: 10rem;
    text-align: center;
    place-content: center;
    color: black;
    flex-wrap: wrap;
  }

  #formDiv {
    border-radius: 3rem;
    width: 85%;
    height: 60vh;
    border: 1px solid #84979f;
    padding: 3rem;
    margin: auto;
    gap: 3rem;
    place-items: center;
    background-color: #2e3944;
  }
  #formDiv form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
  }

  form input {
    padding: 0.5rem;
    border: 1px solid #124e66;
    border-radius: 1rem;
  }

  form label {
    font-size: 1.3rem;
  }

  form button {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #124e66;
    border-radius: 1rem;
  }

  /* gotopbtn */
  .goToPbBtn {
    font-size: 1.3rem;
    color: rgb(133, 131, 133);
    border: 1px solid #124e66;
    padding: 1rem;
    border-radius: 4rem;
    margin: auto;
    position: fixed;
    right: 20px;
    bottom: 2rem;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #d3d7d8;
  }
  .goToPbBtn:hover {
    background-color: #2e3944;
    transform: scale(1.1);
  }
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    color: #d3d9d4;
    background-color: #2e3944;
    border-top: 1px solid #124e66;
    position: relative;
    width: 100%;
    height: 6rem;
    z-index: 1;
  }
  footer a {
    color: rgb(236, 230, 230);
    height: 1rem;
    text-decoration: none;
  }
  footer a:hover {
    color: #d3d9d4;
  }
  body i {
    color: #124e66;
  }
}
