@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #124e66;
  align-items: center;
  height: 15vh;
}
header h1 {
  margin: 1rem;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.headerButton {
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 1.5rem;
  transition: border-color 0.25s;
  background-color: #d3d7d8;
  text-transform: uppercase;
}

.headerButton:hover,
.headerButton:focus {
  border-color: #124e66;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}
#nav a {
  text-decoration: none;
  color: #124e66;
}
#about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85vh;
  margin: auto;
}
#about img {
  width: 30%;
  object-fit: cover;
  height: 60vh;
}
#about p {
  width: 30%;
  place-content: center;
  margin: auto;
  height: 60vh;
}

#imageCategory {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  background-color: aliceblue;
}
#thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 10vh;
  background-color: #edc8c8;
}
#largeImageContainer {
  height: 80vh;
  background-color: antiquewhite;
  width: 90%;
  margin: auto;
}

/* i added pop up styling */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#imagecategory h2 {
  text-align: center;
  font-size: 2rem;
  font-family: Quintessential;
}
#testimonialContainer {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 75vh;
  border: 1px solid #124e66;
  border-radius: 2rem;
  place-items: center;
  width: 90%;
}
#testimonials h3 {
  text-align: center;
  font-family: Quintessential;
  font-size: 1.5rem;
  font-weight: 500;
}

.testimonialandform {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 2rem;
  align-items: center;
}
#contactDetails {
  border-radius: 3rem;
  width: 40%;
  height: 60vh;
  border: 1px solid #84979f;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.testimonialAndForm h3,
p {
  text-align: center;
  font-family: Quintessential;
  font-size: 1.5rem;
  font-weight: 500;
}
#formDiv {
  border-radius: 3rem;
  width: 40%;
  height: 60vh;
  border: 1px solid #84979f;
  padding: 3rem;
  margin: 1rem;
  gap: 3rem;
  place-items: center;
}
#formDiv form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

form input {
  padding: 0.5rem;
  border: 1px solid #124e66;
  border-radius: 1rem;
}

form label {
  font-size: 1.3rem;
}

form button {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #124e66;
  border-radius: 1rem;
}

/* gotopbtn */
.goToPbBtn {
  font-size: 1.3rem;
  color: rgb(133, 131, 133);
  border: 1px solid #124e66;
  padding: 1rem;
  border-radius: 4rem;
  margin: auto;
  position: fixed;
  right: 20px;
  bottom: 2rem;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.goToPbBtn:hover {
  background-color: whitesmoke;
  transform: scale(1.1);
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  color: rgb(40, 40, 41);
  background-color: #eff0f2;
  border-top: 1px solid #124e66;
  position: relative;
  width: 100%;
  height: 6rem;
  z-index: 1;
}
footer a {
  color: rgb(67, 59, 59);
  height: 1rem;
  text-decoration: none;
}
footer a:hover {
  color: #d3cdcd;
}
body i {
  color: #124e66;
}
